{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Available Movies</h1>
    <ul class="list-group">
        {% for movie in movies %}
            <li class="list-group-item">
                <strong>{{ movie.title }}</strong> ({{movie.duration}} min): {{ movie.description }} 
                {% comment %} when the user clicks 'Book Now' they are redirected to a seat booking page for the movie they chose {% endcomment %}
                <a href="{% url 'seat_booking' movie.id %}" class="btn btn-primary btn-sm float-end">Book Now</a> 
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}